[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
bandit = "1.6.2"
mypy = "*"
pytest = "*"
pytest-mock = "*"
coverage = "5.2"
pre-commit = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
flask = "0.12.2"
flask_cors = "*"
waitress = "*"
requests = "*"
boto3 = "*"
awscli = "*"

[requires]
python_version = "3.6.9"

[pipenv]
allow_prereleases = true
